{% load static %}<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'PPLive/style.css' %}">
        <script type="text/javascript">
            
            var curCam = 1;
            var waterDepth = 13.0; //m
            var cameraDepth = 5.0; //m   //TODO:  Update this with AJAX every second if no websocket controller
            
            // Change camera views with fade-in/fade-out
            $("#link").click(function() {
                $("#image").fadeTo(1000,0.30, function() {
                    $("#image").attr("src",$("#link").attr("href"));
                }).fadeTo(500,1);
                return false;
            });

            function doCamUnavailable(event){
                event.srcElement.src = "{% static 'PPLive/CamUnavailable.jpg' %}";
            }

        </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="CPLogo">
                    <img src="http://www.marine.calpoly.edu/sites/all/themes/cpstandard_r/common/images_html/header/cplogo.svg">
                </div>
                <div id="PageName">
                    <h1>Pier Portal</h1>
                    <h2>Real-Time Underwater Camera at Avilva Pier</h2>
                </div>
            </div>    
            <div id="content">
                
                <table id="CamCtrlContentTbl">
                    <tr>
                        <td>
                            <!-- Camera Image Source-->
                            <img src="http://PortalPi1:8000/stream.mjpg" width="640" height="480" onerror="doCamUnavailable(event);"/>
                        </td>
                        <td rowspan="2">
                            <!-- Pod Position-->
                            Pod Position
                            <div id="podPosition">
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!-- Under Camera Image-->
                            <table id="CamSelect">
                                <tr>
                                    <td>
                                        <button class="camView" id="switchCamera">Switch Camera</button>
                                        <button class="camView" id="toggleCameraLights">Toggle LEDs</button>
                                    </td>
                                    <td>
                                        <span id="cameraNum" class="camStat" style="font-weight: bold;">Camera 1</span>
                                        <span id="cameraDesc" class="camStat">PiCam 2, 62.2 degrees Horiz-FOV, 48.8 degrees Vert-FOV</span>
                                        <span class="camStat" id="ledStats">LED Brightness: <input type="range" name="brightness" min="0" max="100">100%</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="footer">
                Copyright (C) 2019 Alec Hardy 
            </div>
        </div>
    </body>
</html>